@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
.home-wrapper {
  width: fit-content;
  margin: 70px auto;
  padding: 0px 20px;
  .todo-column {
    width: 400px;
    height: 500px;
    border: 1px solid cadetblue;
    .column-header {
      display: flex;
      justify-content: space-between;
      background-color: cadetblue;
      padding: 10px;
    }
    .column-name {
      background-color: transparent;
      font-size: 18px;
      font-weight: 800;
      padding: 0px 10px;
      &:focus {
        background-color: white;
      }
    }
    .column-delete-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
      padding: 10px;
      &:hover {
        background-color: white;
      }
    }
  }
}
