.home-wrapper {
  .todo-column {
    width: 400px;
    background-color: red;
    .column-header {
      display: flex;
      justify-content: space-between;
    }
    .column-name {
    }
    .column-delete-btn {
    }
  }
}
