@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #2c2c2c;
  font-family: "Inter", sans-serif;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

h1 {
  font-size: 6.8rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

.container {
  max-width: var(--container-width);
  --column-space: $column-space;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}

.row [class^=col-] {
  --column-number: calc(12 / var(--column-size));
  --column-width: calc(100% / var(--column-number));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
}

.col-1 {
  --column-size: 1;
}

.col-2 {
  --column-size: 2;
}

.col-3 {
  --column-size: 3;
}

.col-4 {
  --column-size: 4;
}

.col-5 {
  --column-size: 5;
}

.col-6 {
  --column-size: 6;
}

.col-7 {
  --column-size: 7;
}

.col-8 {
  --column-size: 8;
}

.col-9 {
  --column-size: 9;
}

.col-10 {
  --column-size: 10;
}

.col-11 {
  --column-size: 11;
}

.col-12 {
  --column-size: 12;
}

@media screen and (max-width: 1400px) {
  .col-xxl-1 {
    --column-size: 1;
  }
  .col-xxl-2 {
    --column-size: 2;
  }
  .col-xxl-3 {
    --column-size: 3;
  }
  .col-xxl-4 {
    --column-size: 4;
  }
  .col-xxl-5 {
    --column-size: 5;
  }
  .col-xxl-6 {
    --column-size: 6;
  }
  .col-xxl-7 {
    --column-size: 7;
  }
  .col-xxl-8 {
    --column-size: 8;
  }
  .col-xxl-9 {
    --column-size: 9;
  }
  .col-xxl-10 {
    --column-size: 10;
  }
  .col-xxl-11 {
    --column-size: 11;
  }
  .col-xxl-12 {
    --column-size: 12;
  }
}
@media screen and (max-width: 1200px) {
  .col-xl-1 {
    --column-size: 1;
  }
  .col-xl-2 {
    --column-size: 2;
  }
  .col-xl-3 {
    --column-size: 3;
  }
  .col-xl-4 {
    --column-size: 4;
  }
  .col-xl-5 {
    --column-size: 5;
  }
  .col-xl-6 {
    --column-size: 6;
  }
  .col-xl-7 {
    --column-size: 7;
  }
  .col-xl-8 {
    --column-size: 8;
  }
  .col-xl-9 {
    --column-size: 9;
  }
  .col-xl-10 {
    --column-size: 10;
  }
  .col-xl-11 {
    --column-size: 11;
  }
  .col-xl-12 {
    --column-size: 12;
  }
}
@media screen and (max-width: 992px) {
  .col-lg-1 {
    --column-size: 1;
  }
  .col-lg-2 {
    --column-size: 2;
  }
  .col-lg-3 {
    --column-size: 3;
  }
  .col-lg-4 {
    --column-size: 4;
  }
  .col-lg-5 {
    --column-size: 5;
  }
  .col-lg-6 {
    --column-size: 6;
  }
  .col-lg-7 {
    --column-size: 7;
  }
  .col-lg-8 {
    --column-size: 8;
  }
  .col-lg-9 {
    --column-size: 9;
  }
  .col-lg-10 {
    --column-size: 10;
  }
  .col-lg-11 {
    --column-size: 11;
  }
  .col-lg-12 {
    --column-size: 12;
  }
}
@media screen and (max-width: 768px) {
  .col-md-1 {
    --column-size: 1;
  }
  .col-md-2 {
    --column-size: 2;
  }
  .col-md-3 {
    --column-size: 3;
  }
  .col-md-4 {
    --column-size: 4;
  }
  .col-md-5 {
    --column-size: 5;
  }
  .col-md-6 {
    --column-size: 6;
  }
  .col-md-7 {
    --column-size: 7;
  }
  .col-md-8 {
    --column-size: 8;
  }
  .col-md-9 {
    --column-size: 9;
  }
  .col-md-10 {
    --column-size: 10;
  }
  .col-md-11 {
    --column-size: 11;
  }
  .col-md-12 {
    --column-size: 12;
  }
}
@media screen and (max-width: 576px) {
  .col-sm-1 {
    --column-size: 1;
  }
  .col-sm-2 {
    --column-size: 2;
  }
  .col-sm-3 {
    --column-size: 3;
  }
  .col-sm-4 {
    --column-size: 4;
  }
  .col-sm-5 {
    --column-size: 5;
  }
  .col-sm-6 {
    --column-size: 6;
  }
  .col-sm-7 {
    --column-size: 7;
  }
  .col-sm-8 {
    --column-size: 8;
  }
  .col-sm-9 {
    --column-size: 9;
  }
  .col-sm-10 {
    --column-size: 10;
  }
  .col-sm-11 {
    --column-size: 11;
  }
  .col-sm-12 {
    --column-size: 12;
  }
}
:root {
  --container-width: 1200px;
}

input,
textarea {
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  font-family: "Inter", sans-serif;
}
.header .layout-cover {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.3s ease-in;
}

.header-logo {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo .open-menu {
  display: none;
}
.header-logo .open-menu i {
  font-size: 2.8rem;
}

.header-right {
  height: 100%;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}
.header-right .logo {
  display: none;
}

.header-right-wrapper {
  width: 100%;
  display: flex;
  column-gap: 50px;
  justify-content: flex-end;
  align-items: flex-start;
  height: 50%;
}
.header-right-wrapper .menu {
  height: 100%;
}
.header-right-wrapper .menu ul {
  display: flex;
  column-gap: 50px;
  font-size: 1.7rem;
  font-weight: 600;
  height: 100%;
}
.header-right-wrapper .menu ul li {
  height: 100%;
}
.header-right-wrapper .menu ul a {
  position: relative;
  display: block;
  height: 100%;
}
.header-right-wrapper .menu ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #46b20f;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}
.header-right-wrapper .menu ul a:hover {
  color: #46b20f;
}
.header-right-wrapper .menu ul a:hover::after {
  width: 100%;
}
.header-right-wrapper .menu ul .active {
  color: #46b20f;
}
.header-right-wrapper .menu ul .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #46b20f;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}
.header-right-wrapper .cart-icon {
  position: relative;
}
.header-right-wrapper .cart-icon span {
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #e05000;
  position: absolute;
  font-size: 1rem;
  font-weight: 500px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.main {
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .header-right {
    padding-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  .header .open-menu {
    display: block;
  }
  .header .js-open-menu {
    transform: translateX(0);
  }
  .header .js-close-menu {
    transform: translateX(-100%);
  }
  .header-right {
    transform: translateX(-100%);
    transition: 0.3s ease-in;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 20px 40px;
    width: 60vw;
    height: 800px;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
  }
  .header-right .logo {
    display: block;
  }
  .header-right .header-right-wrapper {
    flex-direction: column;
    row-gap: 30px;
    justify-content: flex-start;
  }
  .header-right .menu ul {
    flex-direction: column;
    row-gap: 30px;
  }
}
.footer {
  width: 100vw;
  min-height: 407px;
  background-color: #f2ffec;
  padding-top: 67px;
  font-size: 1.6rem;
  position: relative;
}
.footer .row {
  justify-content: center;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 97px;
}
.footer .wrapper::after {
  content: "";
  width: 98%;
  height: 2px;
  background-color: #a3a3a3;
  position: absolute;
  bottom: -72px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .flex-col {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.footer .flex-col p:has(img) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer .logo img {
  margin-bottom: 18px;
}
.footer .active {
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 600;
  line-height: 21.667px;
  color: #46b20f;
}
.footer .verify-and-social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .verify-and-social-media .verify img {
  width: 174px;
}
.footer .verify-and-social-media .social-media {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.footer .verify-and-social-media .social-media a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  background-color: #dcffca;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.bg-orange-100 {
  background-color: #fff0e7;
}

.bg-green-100 {
  background-color: #f2ffec;
}

.bg-green-300 {
  background-color: #c5ffa8 !important;
}

.section-sidebar {
  position: relative;
  margin-bottom: 100px;
}

.sidebar-content {
  width: 100%;
  height: 708px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar-content .content-decor {
  display: none;
}
.sidebar-content .heading {
  font-size: 3.6rem;
  margin-bottom: 10px;
}
.sidebar-content .sub-heading {
  font-size: 4.3rem;
  max-width: 380px;
  margin-bottom: 27px;
}
.sidebar-content .desc {
  max-width: 450px;
}

.sidebar-bg {
  width: 49vw;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dcffca;
  border-radius: 20px 0px 0px 20px;
}
.sidebar-bg .hero-img {
  position: absolute;
  width: 68%;
  top: 40%;
  left: 0px;
  transform: translate(-18%, -40%);
}
.sidebar-bg .side-bar-decor {
  position: absolute;
  font-size: 160px;
  font-weight: 800;
  color: #216000;
  opacity: 0.15;
  line-height: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
  left: calc(100% - 34px);
  top: 55px;
}

@media screen and (max-width: 1499px) {
  .sidebar-bg .side-bar-decor {
    font-size: 14rem;
  }
}
@media screen and (max-width: 1300px) {
  .sidebar-content {
    height: 600px;
  }
  .sidebar-bg .side-bar-decor {
    font-size: 12rem;
  }
}
@media screen and (max-width: 1200px) {
  .sidebar-content {
    height: 500px;
    padding-left: 20px;
  }
  .sidebar-content .heading {
    font-size: 2.4rem;
  }
  .sidebar-content .sub-heading {
    font-size: 3rem;
  }
  .sidebar-content .desc {
    max-width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .sidebar-content {
    background-color: #dcffca;
    height: 500px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
  }
  .sidebar-content .content-decor {
    display: block;
    height: 90%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0.2;
  }
  .sidebar-content .content-decor img {
    height: 100%;
  }
  .sidebar-content .heading {
    position: relative;
    z-index: 1;
    font-size: 4rem;
  }
  .sidebar-content .sub-heading {
    position: relative;
    z-index: 1;
    max-width: 810px;
    font-size: 5rem;
  }
  .sidebar-content .desc {
    position: relative;
    z-index: 1;
    max-width: 450px;
  }
  .sidebar-bg {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .sidebar-content .heading {
    font-size: 2.5rem;
  }
  .sidebar-content .sub-heading {
    font-size: 3.5rem;
  }
  .sidebar-content .desc {
    max-width: 450px;
  }
  .sidebar-bg {
    display: none;
  }
}
.section-quality {
  margin-bottom: 200px;
}
.section-quality .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.section-quality h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 131%;
  margin-bottom: 24px;
}
.section-quality p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127%;
}
@media screen and (max-width: 670px) {
  .section-quality .section-heading {
    padding: 0px 20px;
  }
  .section-quality h2 {
    font-size: 2.5rem;
  }
  .section-quality p {
    font-size: 1.2rem;
  }
}
.section-quality .section-heading h2 {
  max-width: 558px;
}
.section-quality .section-heading .desc {
  max-width: 643px;
}
.section-quality .section-content {
  position: relative;
}
.section-quality .section-content .row {
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  row-gap: 22px;
}
.section-quality .section-content .row > *[class^=col] {
  flex-basis: row;
  max-width: fit-content;
}
.section-quality .section-content::before {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50% 50% 50% 50%;
  background-color: #dcffca;
  top: 0;
  left: 0;
  transform: translateY(-40%);
  z-index: 0;
}
.section-quality .section-content::after {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  border-radius: 50% 50% 50% 50%;
  background-color: #ffd5bd;
  bottom: 0;
  right: 0;
  transform: translateY(40%);
  z-index: 0;
}
.section-quality .quality-item {
  position: relative;
  z-index: 1;
  width: 295px;
  height: 337px;
  background-color: #fff;
  padding: 33px;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  border-radius: 3px 3px 3px 3px;
}
.section-quality .quality-item.bigger {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 343px;
  height: 393px;
}
.section-quality .quality-item .icon {
  width: 83px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}
.section-quality .quality-item .icon img {
  width: 45px;
}
.section-quality .quality-item h3 {
  font-size: 4.3rem;
  font-weight: 800;
}
.section-quality .quality-item p {
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .section-quality .quality-item {
    margin: 0 auto;
  }
  .section-quality .quality-item.bigger {
    padding: 33px;
    width: 295px;
    height: 337px;
  }
}
@media screen and (max-width: 992px) {
  .section-quality .section-content .row {
    justify-content: center;
    column-gap: 0;
    row-gap: 40px;
  }
  .section-quality .section-content .row > *[class^=col] {
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
}
@media screen and (max-width: 768px) {
  .section-quality .section-content .row {
    justify-content: center;
    column-gap: 0;
    row-gap: 40px;
  }
  .section-quality .section-content .row > *[class^=col] {
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
}

.section-products {
  margin-bottom: 129px;
}
.section-products .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 165px;
}
.section-products h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 131%;
  margin-bottom: 0px;
}
.section-products p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127%;
}
@media screen and (max-width: 670px) {
  .section-products .section-heading {
    padding: 0px 20px;
  }
  .section-products h2 {
    font-size: 2.5rem;
  }
  .section-products p {
    font-size: 1.2rem;
  }
}
.section-products .product-item {
  text-align: center;
  position: relative;
}
.section-products .product-item .product-img {
  margin-bottom: 17px;
}
.section-products .product-item .product-img .decor {
  content: "";
  width: 240px;
  height: 240px;
  background-color: #ffba94;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
}
.section-products .product-item .product-img img {
  position: relative;
  width: 240px;
  height: 240px;
  z-index: 1;
}
.section-products .product-item .product-name {
  font-size: 2.8rem;
  padding-bottom: 13px;
  margin-bottom: 17px;
  position: relative;
}
.section-products .product-item .product-name::after {
  content: "";
  height: 2px;
  width: 43px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a3a3a3;
}
.section-products .product-item .desc {
  font-size: 1.7rem;
  font-weight: 400;
  color: #656565;
  margin-bottom: 7px;
}
.section-products .product-item .price {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 31px;
}
.section-products .product-item .price span {
  font-size: 2.4rem;
  font-weight: 800;
}
.section-products .product-item .product-btn button {
  font-size: 20px;
  font-weight: 700;
  padding: 14px 12px;
  border-radius: 7px 7px 7px 7px;
  background-color: #46b20f;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .section-products .product-item .product-name {
    font-size: 2rem;
  }
  .section-products .product-item .desc {
    font-size: 1.2rem;
  }
  .section-products .product-item .price {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 31px;
  }
  .section-products .product-item .price span {
    font-size: 2rem;
    font-weight: 800;
  }
}
.section-products .row {
  justify-content: center;
  column-gap: 83px;
  row-gap: 211px;
}
@media screen and (max-width: 992px) {
  .section-products .row {
    column-gap: 0;
  }
}

.section-news {
  margin-bottom: 100px;
}
.section-news .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 28px;
}
.section-news h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 131%;
  margin-bottom: 23px;
}
.section-news p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127%;
}
@media screen and (max-width: 670px) {
  .section-news .section-heading {
    padding: 0px 20px;
  }
  .section-news h2 {
    font-size: 2.5rem;
  }
  .section-news p {
    font-size: 1.2rem;
  }
}
.section-news .section-heading .desc {
  max-width: 658px;
}
.section-news .news-item {
  padding: 0px 12px;
}
.section-news .news-item .news-img {
  margin-bottom: 16px;
}
.section-news .news-item .news-img img {
  width: 100%;
}
.section-news .news-item .news-time-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.section-news .news-item .news-time-author .author {
  color: #46b20f;
  font-size: 1.5rem;
  font-weight: 500;
}
.section-news .news-item .news-time-author .time {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.section-news .news-item .news-time-author .time span {
  color: #a3a3a3;
  font-size: 1.5rem;
  font-weight: 500;
}
.section-news .news-item .news-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 27px;
}
.section-news .news-item .content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
}
.section-news .section-content {
  margin-bottom: 80px;
}
.section-news .section-btn {
  display: flex;
  justify-content: center;
}
.section-news .section-btn button {
  display: flex;
  align-items: center;
  column-gap: 3px;
  padding: 16px 27px;
  background-color: white;
  border: #46b20f 2px solid;
  border-radius: 7px 7px 7px 7px;
}

.section-info {
  position: relative;
  margin-bottom: 253px;
}
.section-info .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.section-info h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 131%;
  margin-bottom: 24px;
}
.section-info p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127%;
}
@media screen and (max-width: 670px) {
  .section-info .section-heading {
    padding: 0px 20px;
  }
  .section-info h2 {
    font-size: 2.5rem;
  }
  .section-info p {
    font-size: 1.2rem;
  }
}
.section-info .section-heading h2 {
  max-width: 394px;
}
.section-info .section-heading .desc {
  max-width: 795px;
}
.section-info .row {
  justify-content: center;
  column-gap: 25px;
}
.section-info .row > *[class^=col-] {
  flex-basis: row;
  max-width: fit-content;
}
.section-info .info-item {
  position: relative;
  z-index: 1;
  min-width: 346px;
  height: 359px;
  background-color: white;
  border-radius: 0 0 8px 8px;
}
.section-info .info-item .info-img {
  font-size: 0;
  height: fit-content;
}
.section-info .info-item .info-img img {
  width: 100%;
}
.section-info .info-item .info-content {
  padding: 25px 0px 0px 28px;
}
.section-info .info-item .info-content .content-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 27px;
  color: #e05000;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
}
.section-info .info-item .info-content .content {
  font-size: 1.6rem;
}
.section-info .section-decor {
  width: 100vw;
  height: 360px;
  background-color: #fff0e7;
  position: absolute;
  bottom: -115px;
}

.section-certification {
  margin-bottom: 133px;
}
.section-certification .row {
  justify-content: center;
  column-gap: 52px;
  row-gap: 39px;
}
.section-certification .certification-item {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.section-certification .certification-item .icon img {
  width: 56px;
}
.section-certification .certification-item .heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: 27px;
}
.section-certification .certification-item .content {
  font-size: 17px;
  font-weight: 500;
}

.section-form-contact {
  margin-bottom: 101px;
}
.section-form-contact .row {
  align-items: center;
}
.section-form-contact .form-contact .form-heading {
  font-size: 20px;
  margin-bottom: 26px;
}
.section-form-contact .form-contact .input-group {
  display: flex;
  column-gap: 18px;
  margin-bottom: 23px;
}
.section-form-contact .form-contact input,
.section-form-contact .form-contact textarea {
  border: 1px solid #a3a3a3;
  padding: 13px;
  width: 100%;
  border-radius: 7px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #a3a3a3;
}

/*# sourceMappingURL=home.css.map */
