<h1>Thêm khóa học</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input type="text" name="name" class="form-control" placeholder="Tên..." />
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <input
      type="text"
      name="status"
      class="form-control"
      placeholder="Tên..."
    />
  </div>
  <div class="mb-3">
    <label for="">Price</label>
    <input type="text" name="price" class="form-control" placeholder="Giá..." />
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
  <a href="/" class="btn btn-danger">Hủy</a>
</form>
