<h1>Chỉnh sửa khóa học</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Tên..."
      value="Hello"
    />
  </div>
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" class="form-select">
      <option value="inactive" <%=course.status?'':'selected'%>>Chưa kích hoạt</option>
      <option value="active" <%=course.status?'selected':''%>>Kích hoạt</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="">Price</label>
    <input type="text" name="price" class="form-control" placeholder="Giá..." value="<%=course.price%>"/>
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
  <a href="/" class="btn btn-danger">Hủy</a>
</form>
