<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
    <td>Created at</td>
    <td>Updated at</td>
  </tr>
  <% for( let index = 0; index < courses.length; index++ ) { %>
  <tr>
    <td><% courses[index].id %></td>
    <td><% courses[index].name %></td>
    <td><% courses[index].price %></td>
    <td><% courses[index].id %></td>
    <td><% courses[index].id %></td>
  </tr>
  <% } %>
</table>
