<h1>Đăng ký</h1>
<form action="">
  <div class="mb-3">
    <label for="" class="form-label">Email của bạn</label>
    <input type="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password của bạn</label>
    <input type="password" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Nhập lại mật khẩu của bạn</label>
    <input type="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-submit">Đăng ký</button>
</form>
