.custom-datetime {
  /* background-color: white; */
  width: 400px;
  padding: 14px;
}
.custom-datetime .datetime-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.custom-datetime .weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.custom-datetime .weeks li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
