.container {
  width: 800px;
  margin: 70px auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  margin-bottom: 20px;
}
.form {
  width: 80%;
}
.form .input-field {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 16px;
}
.form .input-field input {
  padding: 10px;
  border-radius: 20px;
}
