* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
img {
  width: 100%;
}
body {
  background-image: linear-gradient(
    to bottom,
    purple,
    rgb(194, 38, 194),
    purple
  );
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.register {
  width: 900px;
  margin: 20px auto;
  padding: 0px 20px;
}
.register h1 {
  margin-bottom: 10px;
  color: white;
  position: relative;
}
.register h1::after {
  content: "";
  width: 100%;
  height: 2px;
  color: white;
  bottom: 0;
  left: 0;
}
.blogs {
  width: 900px;
  padding: 0px 15px;
  margin: 10px auto;
}
.blog-item {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-item .blog-header .blog-left {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.blog-item .blog-author-img img {
  width: 50px;
  border-radius: 50%;
}
.blog-item .blog-author {
  font-size: 16px;
  font-weight: 600;
}
.blog-item .time-post {
  font-size: 14px;
}
.blog-item .date-post {
  font-weight: 600;
}
.blog-content .title {
  margin-bottom: 16px;
}
.blog-tags {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
}
.blog-tags .blog-tag-item {
  width: fit-content;
  border-radius: 99px;
  padding: 10px;
  background-color: cadetblue;
  color: white;
}
