@import "../../assets/scss/variables.scss";
header {
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  .header-container {
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $main-color;
    color: white;
    .logo {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
