@import "../parts/variables";
@import "../parts/font.scss";
@import "../parts/reset.scss";
@import "../parts/grid.scss";
@import "../parts/mixins";
@import "../parts/base.scss";

@import "../layout/header.scss";
@import "../layout/footer.scss";

//common mixin
@include background-color;
// section-sidebar
// @include section-sidebar;
.section-sidebar {
  position: relative;
  @include section-mb(100px);
}
.sidebar-content {
  width: 100%;
  height: 708px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content-decor {
    display: none;
  }
  .heading {
    font-size: 3.6rem;
    margin-bottom: 10px;
  }
  .sub-heading {
    font-size: 4.3rem;
    max-width: 380px;
    margin-bottom: 27px;
  }
  .desc {
    max-width: 450px;
  }
}
.sidebar-bg {
  width: 49vw;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $green-200;
  @include rounded(20px, 0px, 0px, 20px);
  .hero-img {
    position: absolute;
    width: 68%;
    top: 40%;
    left: 0px;
    transform: translate(-18%, -40%);
  }
  .side-bar-decor {
    position: absolute;
    font-size: 160px;
    font-weight: 800;
    color: $green-1000;
    opacity: 0.15;
    line-height: 100%;
    transform-origin: top left;
    transform: rotate(90deg);
    left: calc(100% - 34px);
    top: 55px;
  }
}
// section-quality
.section-quality {
  @include section-heading(100px, 24px);
  .section-heading {
    h2 {
      max-width: 558px;
    }
    .desc {
      max-width: 643px;
    }
  }
  .section-content {
    position: relative;
    .row {
      justify-content: center;
      align-items: center;
      column-gap: 22px;
      row-gap: 22px;
      > *[class^="col"] {
        flex-basis: row;
        max-width: fit-content;
      }
    }
    &::before {
      content: "";
      position: absolute;
      @include square(235px);
      @include rounded(50%);
      background-color: $green-200;
      top: 0;
      left: 0;
      transform: translateY(-40%);
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      @include square(235px);
      @include rounded(50%);
      background-color: $orange-200;
      bottom: 0;
      right: 0;
      transform: translateY(40%);
      z-index: 0;
    }
  }
  .quality-item {
    position: relative;
    z-index: 1;
    width: 295px;
    height: 337px;
    background-color: $white;
    padding: 33px;
    box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
      rgba(54, 54, 54, 0.12);
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    @include rounded(3px);
    &.bigger {
      padding-top: 60px;
      padding-bottom: 80px;
      width: 343px;
      height: 393px;
    }
    .icon {
      @include square(83px);
      display: flex;
      justify-content: center;
      align-items: center;
      @include rounded(10px);

      img {
        width: 45px;
      }
    }
    h3 {
      font-size: 4.3rem;
      font-weight: 800;
    }
    p {
      font-size: 2rem;
      font-weight: 400;
    }
  }
  @include section-mb(200px);
}
// section-product
// @include section-products;
.section-products {
  @include section-heading(165px, 0px);
  @include section-mb(129px);
  .row {
    justify-content: center;
    column-gap: 83px;
    row-gap: 211px;
  }
  .product-item {
    text-align: center;
    position: relative;

    .product-img {
      .decor {
        content: "";
        width: 240px;
        height: 240px;
        background-color: $orange-300;
        @include rounded(50%);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
      }
      img {
        position: relative;
        width: 240px;
        height: 240px;
        z-index: 1;
      }
      margin-bottom: 17px;
    }

    .product-name {
      font-size: 2.8rem;
      padding-bottom: 13px;
      margin-bottom: 17px;
      position: relative;
      &::after {
        content: "";
        height: 2px;
        width: 43px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $grey-500;
      }
    }
    .desc {
      font-size: 1.7rem;
      font-weight: 400;
      color: $grey-800;
      margin-bottom: 7px;
    }
    .price {
      font-size: 1.7rem;
      font-weight: 400;
      span {
        font-size: 2.4rem;
        font-weight: 800;
      }
      margin-bottom: 31px;
    }
    .product-btn {
      button {
        font-size: 20px;
        font-weight: 700;
        padding: 14px 12px;
        @include rounded(7px);
        background-color: $green-800;
        color: white;
        cursor: pointer;
      }
    }
  }
}
//section-news
// @include section-news;
.section-news {
  @include section-heading(28px, 23px);
  .row {
    row-gap: 60px;
  }
  .section-heading {
    .desc {
      max-width: 658px;
    }
  }
  .news-item {
    $mb: 16px;
    padding: 0px 12px;

    .news-img {
      margin-bottom: $mb;
      img {
        width: 100%;
        // max-width: 384px;
      }
    }
    .news-time-author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $mb;
      .author {
        color: $green-800;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .time {
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
          color: $grey-500;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
    .news-heading {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: $mb;
      line-height: 27px;
    }
    .content {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .section-content {
    margin-bottom: 80px;
  }
  .section-btn {
    display: flex;
    justify-content: center;
    button {
      display: flex;
      align-items: center;
      column-gap: 3px;
      padding: 16px 27px;
      background-color: white;
      border: $green-800 2px solid;
      @include rounded(7px);
    }
  }
  @include section-mb(100px);
}
//section-info
// @include section-info;
.section-info {
  position: relative;
  @include section-heading(50px, 24px);
  .section-heading {
    h2 {
      max-width: 394px;
    }
    .desc {
      max-width: 795px;
    }
  }
  .row {
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    > *[class^="col-"] {
      flex-basis: row;
      max-width: fit-content;
    }
  }
  @include info-item();
  .section-decor {
    width: 100vw;
    height: 360px;
    background-color: $orange-100;
    position: absolute;
    bottom: -115px;
    left: 0;
  }
  @include section-mb(253px);
}
//section-certification
@include section-certification;
//section-form-contact
@include section-form-contact;

//responsive
@media screen and (max-width: 1499px) {
  // section-sidebar
  .sidebar-bg {
    .side-bar-decor {
      font-size: 14rem;
    }
  }
}
@media screen and (max-width: 1300px) {
  // section-sidebar
  .sidebar-content {
    height: 600px;
  }
  .sidebar-bg {
    .side-bar-decor {
      font-size: 12rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  // section-sidebar
  .sidebar-content {
    height: 500px;
    padding-left: 20px;
    .heading {
      font-size: 2.4rem;
    }
    .sub-heading {
      font-size: 3rem;
    }
    .desc {
      max-width: 450px;
    }
  }
  //   section-product
  .section-products {
    .product-item {
      .product-name {
        font-size: 2rem;
      }
      .desc {
        font-size: 1.2rem;
      }
      .price {
        font-size: 1.2rem;
        font-weight: 400;
        span {
          font-size: 2rem;
          font-weight: 800;
        }
        margin-bottom: 31px;
      }
    }
  }
  // section-info
  .section-info {
    .section-content {
      position: relative;
    }
    .row {
      justify-content: center;
      column-gap: 0px;
      row-gap: 25px;
      > *[class^="col-"] {
        flex-basis: var(--column-width);
        max-width: var(--column-width);
      }
    }
  }
}
@media screen and (max-width: 992px) {
  // section-sidebar
  .sidebar-content {
    background-color: $green-200;
    height: 100vh;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    .content-decor {
      display: block;
      height: 90%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      opacity: 0.2;
      img {
        height: 100%;
      }
    }
    .heading {
      position: relative;
      z-index: 1;
      font-size: 4rem;
    }
    .sub-heading {
      position: relative;
      z-index: 1;
      max-width: 810px;
      font-size: 5rem;
    }
    .desc {
      position: relative;
      z-index: 1;
      max-width: 450px;
    }
  }
  .sidebar-bg {
    display: none;
  }
  // section-quality
  .section-quality {
    .quality-item {
      margin: 0 auto;
      &.bigger {
        padding: 33px;
        width: 295px;
        height: 337px;
      }
    }
    .section-content {
      .row {
        justify-content: center;
        column-gap: 0;
        row-gap: 40px;
        > *[class^="col"] {
          flex-basis: var(--column-width);
          max-width: var(--column-width);
        }
      }
    }
  }
  //   section-product
  .section-products {
    .row {
      column-gap: 0;
    }
  }
  //section-info
  .section-info {
    .section-content {
      position: relative;
    }
    .row {
      justify-content: center;
      column-gap: 0px;
      row-gap: 25px;
      > *[class^="col-"] {
        flex-basis: var(--column-width);
        max-width: var(--column-width);
      }
    }
  }
  .section-decor {
    width: 100vw;
    background-color: $orange-100;
    position: absolute;
    height: 104% !important;
    top: 0;
    left: 0;
    transform: translateY(-2%);
  }
}
@media screen and (max-width: 768px) {
  // section-quality
  .section-quality {
    .section-content {
      .row {
        justify-content: center;
        column-gap: 0;
        row-gap: 40px;
        > *[class^="col"] {
          flex-basis: var(--column-width);
          max-width: var(--column-width);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  // section-sidebar
  .sidebar-content {
    .heading {
      font-size: 2.5rem;
    }
    .sub-heading {
      font-size: 3.5rem;
    }
    .desc {
      max-width: 450px;
    }
  }
  .sidebar-bg {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .section-news {
    .news-item {
      $mb: 16px;
      padding: 0px 40px;
    }
  }
}
