@import "../parts/variables";
@import "../parts/font.scss";
@import "../parts/reset.scss";
@import "../parts/grid.scss";
@import "../parts/base.scss";

@import "../layout/header.scss";
@import "../layout/footer.scss";

.main {
  .sidebar-content {
    background-color: orange;
    width: 100%;
    height: 708px;
  }
}
