* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 60%;
  margin: 40px auto;
}
.container .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 99px;
}
.container .progress {
  width: 30%;
  background-color: red;
}
