*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    max-width: 1158px;
    margin:  auto;
    padding: 0 15px;
    // flex-direction: ;
    &-logo{
        width: 132px;
    }
}