*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    // flex-direction: ;
    &-logo{
        width: 132px;
    }
}