@import "../../assets/scss/variables.scss";
.broad-wrapper {
  padding: 10px;
  display: flex;
  background-color: black;
  .column {
    background-color: $color-white;
    padding: 10px;
    height: 400px;
    width: 300px;
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
  }
}
