<h1 class="text-primary">Đăng nhập</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="" class="form-label">Email của bạn</label>
    <input type="email" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password của bạn</label>
    <input type="password" class="form-control" />
  </div>
  <p class="mb-3">
    Chưa có tài khoản ?
    <span class="text-primary">
      <a href="/users/register">Đăng ký ngay!</a>
    </span>
  </p>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
