@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #940b92, #da0c81);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}
.container {
  max-width: 900px;
  height: 100px;
  margin: 80px auto 0px;
}
.item-new {
  width: 100%;
  min-height: 100px;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.item-new .header .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.item-new .header .avatar::after {
  content: "";
  background-color: aquamarine;
  width: 20px;
  height: 20px;
}
