@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --primary-color: #f86061;
  --primary-bg-color: #fef5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
/* base css */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.active {
  color: var(--primary-color) !important;
}
/* css for header */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .header-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  text-align: center;
}
header .header-nav ul {
  margin-top: 10px;
}
header .header-nav ul li a {
  display: block;
  padding: 10px;
  color: black;
}
