.cv-wrapper {
  width: 1230px;
  margin: 0 auto;
  padding: 15px;
}
.cv-heading {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.cv-body {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 3fr;
  column-gap: 40px;
  font-size: 20px;
}
.cv-body-left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .avatar ~ div {
    font-size: 20px;
    text-align: center;
    margin-top: 6px;
  }
  .skill-heading,
  .history-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.cv-body-right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .contact-heading,
  .project-heading,
  .hobby-heading {
    text-align: center;
    margin-bottom: 10px;
  }
}
