* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #8758ff;
}

.container {
  background-color: black;
  padding: 32px;
  width: fit-content;
  margin: 64px auto 0px;
}
