@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #8758ff;
}

.container {
  background-color: black;
  padding: 32px;
  width: fit-content;
  margin: 64px auto 0px;
  background-color: #1a1a40;
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  color: white;
  .heading {
    font-size: 1.75rem;
    text-align: center;
  }
  .add-new-task {
  }
  .new-task {
    display: block
    padding: 8px 16px;
    width: 300px;
  }
  .btn-add {
    padding: 8px 16px;
  }
}
