* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #ff9100 */
body {
  background-color: #03bdf0;
}
.timer-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.timer-wrapper h1 {
  font-size: 24px;
}
