.footer {
  width: 100vw;
  min-height: 407px;
  background-color: $green-100;
  padding-top: 67px;
  .row {
    justify-content: center;
  }
  .wrapper {
    display: flex;
  }

  .footer-nav {
    display: flex;
  }
}
