.header {
  width: 100%;
  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .menu {
    margin-right: auto;
    ul {
      display: flex;
    }
  }
}
