* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
.start-screen {
  position: fixed;
  min-width: 400px;
  left: 50%;
  top: 50%;
  color: white;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  border: 1px dotted aquamarine;
}
.start-screen h2 {
  font-size: 40px;
}
.start-screen .btn-start {
  font-size: 26px;
  font-weight: 600;
  padding: 20px;
  transform: skewX(-10deg);
  background-color: aquamarine;
  border: none;
  box-shadow: 6px 6px 0px 0px rgba(127, 255, 212, 0.699);
  cursor: pointer;
  color: green;
  transition: 0.2s linear;
}

.start-screen .btn-start:hover {
  color: orange;
  box-shadow: 8px 8px 0px 0px orange, 14px 14px 0px 0px rgb(202, 132, 1);
}
