.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  .logo-wrapper {
    display: flex;
    align-items: center;
    .logo {
      width: 50px;
      margin-right: 10px;
      img {
        border-radius: 10px;
      }
    }
    .name {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .btn-groups {
    display: flex;
    column-gap: 10px;
    bottom: {
      padding: 10px;
    }
  }
}
