* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: fit-content;
  display: flex;
  margin: 70px auto;
  column-gap: 40px;
}
.img {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
.img-lens {
  width: 40px;
  height: 40px;
  border: solid 1px cadetblue;
  position: absolute;
}
.img-result {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
