/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #5d5c5d;
  --primary-bg-color: #4298db;
}
/* base css */
ul {
  list-style: none;
}
input {
  display: none;
}
body {
  background-color: #eeedef;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}
.container {
  width: 702px;
  margin: 40px auto;
}

.container .menu ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.container .menu ul li {
  padding: 5px;
  background-color: white;
}

.container .menu ul li label {
  display: block;
  padding: 14px 10px;
}
.container .menu ul li:hover label {
  background-color: var(--primary-bg-color);
  color: white;
  cursor: pointer;
}

.container .content-wrapper {
  width: 100%;
  max-height: 400px;
  background-color: white;
  position: relative;
  perspective: 1000px;
  perspective-origin: top;
}
.container .content-wrapper .content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0px 20px 20px;
  transform-origin: top;
  background-color: white;
  overflow: auto;
  opacity: 0;
  transform: rotateX(-90deg);
  overflow-x: scroll;
  transition: 0.4s ease-in;
}

#open-content1:checked ~ .content-wrapper .content:nth-child(1),
#open-content2:checked ~ .content-wrapper .content:nth-child(2),
#open-content3:checked ~ .content-wrapper .content:nth-child(3),
#open-content4:checked ~ .content-wrapper .content:nth-child(4) {
  /* animation: flip 0.8s linear; */
  transition-delay: 0.2s;
  opacity: 1;
  transform: rotateX(0);
}
#open-content1:checked ~ .menu ul li:nth-child(1) label,
#open-content2:checked ~ .menu ul li:nth-child(2) label,
#open-content3:checked ~ .menu ul li:nth-child(3) label,
#open-content4:checked ~ .menu ul li:nth-child(4) label {
  color: white;
  background-color: var(--primary-bg-color);
}
