<h1 class="text-primary">Trang chủ</h1>
<% if (req.session.user.userEmail) { %>
<h2>Xin chào, <%=req.session.user.userEmail%></h2>
<button class="btn btn-primary">Đăng xuất</button>
<% } else { %>
<a class="btn">Đăng nhập/Đăng ký</a>
<%}%>
