@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&family=Titillium+Web:wght@900&display=swap");
$primary-color: #23d2e2;
$font-rajdhani: "Rajdhani", sans-serif;
$font-titillium: "Titillium Web", sans-serif;

// reset css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web", sans-serif;
}
.section {
  &-login {
    width: 100vw;
    height: 100vh;
    background: no-repeat url("../img/landing-background.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  &-decoration {
    position: absolute;
    background: url("../img/dot-texture.png") white;
    border-radius: 50%;
    width: 140vh;
    height: 140vh;
    top: -20%;
    right: 0;
    bottom: 0;
    transform: translateX(50%);
    display: none;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
}
