// normal mixins
@mixin square($one-side-square) {
  width: $one-side-square;
  height: $one-side-square;
}
@mixin rounded($tl: 0px, $tr: $tl, $br: $tl, $bl: $tl) {
  border-radius: $tl $tr $br $bl;
}
@mixin background-color() {
  .bg-orange-100 {
    background-color: $orange-100;
  }
  .bg-green-100 {
    background-color: $green-100;
  }
  .bg-green-300 {
    background-color: $green-300 !important;
  }
}
// mixins for this project
// css for section-heading
@mixin section-heading($heading-mb: 0px, $h2-mb: 0px) {
  .section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: $heading-mb;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 131%;
    margin-bottom: $h2-mb;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 127%;
  }
}
//khoảng cách giữa các section
@mixin section-mb($value: 0px) {
  margin-bottom: $value;
}
//section-sidebar
@mixin section-sidebar() {
  .section-sidebar {
    position: relative;
    @include section-mb(100px);
  }
  .sidebar-content {
    width: 100%;
    height: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content-decor {
      display: none;
    }
    .heading {
      font-size: 3.6rem;
      margin-bottom: 10px;
    }
    .sub-heading {
      font-size: 4.3rem;
      max-width: 380px;
      margin-bottom: 27px;
    }
    .desc {
      max-width: 450px;
    }
  }
  .sidebar-bg {
    width: 49vw;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $green-200;
    @include rounded(20px, 0px, 0px, 20px);
    .hero-img {
      position: absolute;
      width: 68%;
      top: 40%;
      left: 0px;
      transform: translate(-18%, -40%);
    }
    .side-bar-decor {
      position: absolute;
      font-size: 160px;
      font-weight: 800;
      color: $green-1000;
      opacity: 0.15;
      line-height: 100%;
      transform-origin: top left;
      transform: rotate(90deg);
      left: calc(100% - 34px);
      top: 55px;
    }
  }
  // @content;
  // responsive
  @media screen and (max-width: 1499px) {
    .sidebar-bg {
      .side-bar-decor {
        font-size: 14rem;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    .sidebar-content {
      height: 600px;
    }
    .sidebar-bg {
      .side-bar-decor {
        font-size: 12rem;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .sidebar-content {
      height: 500px;
      padding-left: 20px;
      .heading {
        font-size: 2.4rem;
      }
      .sub-heading {
        font-size: 3rem;
      }
      .desc {
        max-width: 450px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .sidebar-content {
      background-color: $green-200;
      height: 500px;
      padding-left: 20px;
      position: relative;
      .content-decor {
        display: block;
        width: 305;
        position: absolute;
      }
      .heading {
        font-size: 4rem;
      }
      .sub-heading {
        max-width: 810px;
        font-size: 5rem;
      }
      .desc {
        max-width: 450px;
      }
    }
    .sidebar-bg {
      display: none;
    }
  }
}
// mixins for section-quality
// quality-item
@mixin section-quality-item() {
  .quality-item {
    position: relative;
    z-index: 1;
    width: 295px;
    height: 337px;
    background-color: $white;
    padding: 33px;
    box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
      rgba(54, 54, 54, 0.12);
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    @include rounded(3px);
    &.bigger {
      padding-top: 60px;
      padding-bottom: 80px;
      width: 343px;
      height: 393px;
    }
    .icon {
      @include square(83px);
      display: flex;
      justify-content: center;
      align-items: center;
      @include rounded(10px);

      img {
        width: 45px;
      }
    }
    h3 {
      font-size: 4.3rem;
      font-weight: 800;
    }
    p {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
// section quality
@mixin section-quality() {
  .section-quality {
    @include section-heading(100px, 24px);
    .section-heading {
      h2 {
        max-width: 558px;
      }
      .desc {
        max-width: 643px;
      }
    }
    .section-content {
      position: relative;
      .row {
        justify-content: center;
        align-items: center;
        column-gap: 22px;
        > *[class^="col"] {
          flex-basis: row;
          max-width: fit-content;
        }
      }
      &::before {
        content: "";
        position: absolute;
        @include square(235px);
        @include rounded(50%);
        background-color: $green-200;
        top: 0;
        left: 0;
        transform: translateY(-40%);
        z-index: 0;
      }
      &::after {
        content: "";
        position: absolute;
        @include square(235px);
        @include rounded(50%);
        background-color: $orange-200;
        bottom: 0;
        right: 0;
        transform: translateY(40%);
        z-index: 0;
      }
    }

    @include section-quality-item();
    @include section-mb(200px);
  }
}
// mixins for section-product
//product-item
@mixin section-product-item() {
  .product-item {
    text-align: center;
    position: relative;

    .product-img {
      .decor {
        content: "";
        width: 240px;
        height: 240px;
        background-color: $orange-300;
        @include rounded(50%);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
      }
      img {
        position: relative;
        width: 240px;
        height: 240px;
        z-index: 1;
      }
      margin-bottom: 17px;
    }

    .product-name {
      font-size: 2.8rem;
      padding-bottom: 13px;
      margin-bottom: 17px;
      position: relative;
      &::after {
        content: "";
        height: 2px;
        width: 43px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $grey-500;
      }
    }
    .desc {
      font-size: 1.7rem;
      font-weight: 400;
      color: $grey-800;
      margin-bottom: 7px;
    }
    .price {
      font-size: 1.7rem;
      font-weight: 400;
      span {
        font-size: 2.4rem;
        font-weight: 800;
      }
      margin-bottom: 31px;
    }
    .product-btn {
      button {
        font-size: 20px;
        font-weight: 700;
        padding: 14px 12px;
        @include rounded(7px);
        background-color: $green-800;
        color: white;
        cursor: pointer;
      }
    }
  }
}
//section-products
@mixin section-products() {
  .section-products {
    @include section-heading(165px, 0px);
    @include section-product-item;
    @include section-mb(129px);
    .row {
      justify-content: center;
      column-gap: 83px;
      row-gap: 211px;
    }
  }
}
//mixins for section-news
// news-item
@mixin news-item() {
  .news-item {
    $mb: 16px;
    padding: 0px 12px;

    .news-img {
      margin-bottom: $mb;
      img {
        width: 100%;
        // max-width: 384px;
      }
    }
    .news-time-author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $mb;
      .author {
        color: $green-800;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .time {
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
          color: $grey-500;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
    .news-heading {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: $mb;
      line-height: 27px;
    }
    .content {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
//section-news
@mixin section-news() {
  .section-news {
    @include section-heading(28px, 23px);
    .section-heading {
      .desc {
        max-width: 658px;
      }
    }
    @include news-item();
    .section-content {
      margin-bottom: 80px;
    }
    .section-btn {
      display: flex;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        column-gap: 3px;
        padding: 16px 27px;
        background-color: white;
        border: $green-800 2px solid;
        @include rounded(7px);
      }
    }
    @include section-mb(100px);
  }
}

//mixins for section-info
//info item
@mixin info-item() {
  .info-item {
    position: relative;
    z-index: 1;
    min-width: 346px;
    height: 359px;
    background-color: white;
    @include rounded(0, 0, 8px, 8px);
    .info-img {
      font-size: 0;
      height: fit-content;
      img {
        width: 100%;
      }
    }
    .info-content {
      padding: 25px 0px 0px 28px;
      .content-heading {
        font-size: 2rem;
        font-weight: 600;
        line-height: 27px;
        color: $orange-700;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 6px;
      }
      .content {
        font-size: 1.6rem;
      }
    }
  }
}
//section-info
@mixin section-info() {
  .section-info {
    position: relative;
    @include section-heading(50px, 24px);
    .section-heading {
      h2 {
        max-width: 394px;
      }
      .desc {
        max-width: 795px;
      }
    }
    .row {
      justify-content: center;
      column-gap: 25px;
      > *[class^="col-"] {
        flex-basis: row;
        max-width: fit-content;
      }
    }
    @include info-item();
    .section-decor {
      width: 100vw;
      height: 360px;
      background-color: $orange-100;
      position: absolute;
      bottom: -115px;
    }
    @include section-mb(253px);
  }
}

//mixins for section-certification
//certification-item
@mixin certification-item() {
  .certification-item {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    .icon img {
      width: 56px;
    }
    .heading {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 7px;
      line-height: 27px;
    }
    .content {
      font-size: 17px;
      font-weight: 500;
    }
  }
}
//section-certification
@mixin section-certification() {
  .section-certification {
    .row {
      justify-content: center;
      column-gap: 52px;
      row-gap: 39px;
    }
    @include certification-item;
    @include section-mb(133px);
  }
}

// mixin for section-form-contact
//form-contact
@mixin form-contact() {
  .form-contact {
    .form-heading {
      font-size: 20px;
      margin-bottom: 26px;
    }
    .input-group {
      display: flex;
      column-gap: 18px;
      margin-bottom: 23px;
    }
    input,
    textarea {
      border: 1px solid $grey-500;
      padding: 13px;
      width: 100%;
      border-radius: 7px;
      font-size: 1.6rem;
      font-weight: 400;
      color: $grey-500;
    }
  }
}
//section-form-contact
@mixin section-form-contact() {
  .section-form-contact {
    .row {
      align-items: center;
    }
    @include form-contact();
    @include section-mb(101px);
  }
}

// responsive
// @media screen and (max-width: 1499px) {
//   @include section-sidebar() {
//     .sidebar-bg {
//       .side-bar-decor {
//         font-size: 14rem !important;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1300px) {
//   @include section-sidebar() {
//     .sidebar-content {
//       height: 600px !important;
//     }
//     .sidebar-bg {
//       .side-bar-decor {
//         font-size: 12rem !important;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1200px) {
//   @include section-sidebar() {
//     .sidebar-content {
//       height: 500px !important;
//       padding-left: 20px;
//       .heading {
//         font-size: 2.4rem !important;
//       }
//       .sub-heading {
//         font-size: 3rem !important;
//       }
//       .desc {
//         max-width: 450px;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1000px) {
//   @include section-sidebar() {
//     .sidebar-content {
//       background-color: $green-200;
//       height: 500px !important;
//       padding-left: 20px;
//       .content-decor {
//         display: block !important;
//       }
//       .heading {
//         font-size: 4rem !important;
//       }
//       .sub-heading {
//         max-width: 810px !important;
//         font-size: 5rem !important;
//       }
//       .desc {
//         max-width: 450px;
//       }
//     }
//     .sidebar-bg {
//       display: none;
//     }
//   }
// }
