* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 10px;
}
body {
  font-size: $font-size;
  line-height: 1.2;
  color: $text-color;
  font-family: $inter-font;
}
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 20px 0;
}

h1 {
  font-size: 6.8rem;
}
h2 {
  font-size: 5.2rem;
}
h3 {
  font-size: 3.8rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}

p {
  margin-bottom: 15px;
}
