.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}
.row [class^="col-"] {
  --column-number: calc(12 / var(--column-size));
  --column-width: calc(100% / var(--column-number));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
}

@mixin column($name: "") {
  $prefix: ".col-";
  @for $i from 1 through 12 {
    $selector: $prefix + $i;
    @if ($name != "") {
      $selector: $prefix + $name + "-" + $i;
    }
    #{$selector} {
      --column-size: #{$i};
    }
  }
}

@include column();
$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);
@each $name, $breakpoint in $breakpoints {
  @media screen and (max-width: $breakpoint) {
    @include column($name);
  }
}
