/* reset css */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* css for main */
.main {
  display: flex;
  justify-content: center;
}
/* margin bottom 20px */
.margin-bottom-20 {
  margin-bottom: 20px;
}
/* css for section contact */
.section-contact {
  padding-top: 40px;
}
/* css for section heading */
.section-heading h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.section-heading hr {
  width: 50px;
  height: 3px;
  background-color: #febd4a;
  border: none;
}

/* css for section content */
.section-content {
  display: flex;
  flex-direction: row;
}
.section-content h3 {
  font-weight: 500;
}
/* css for contact info */
.contact-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7c7c7c;
}
.contact-info-item i {
  margin-right: 10px;
  font-size: 18px;
}
.contact-info-item p {
  font-size: 12px;
}
/* css for contact form */
/* css for form input */
.contact-form {
  margin-left: 160px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group input,
.form-group textarea {
  width: 600px;
  padding: 10px;
}
/* css for form submit */
.form-submit button {
  padding: 10px;
  color: white;
  background-color: #0cb8b6;
  border: none;
}
