#js-chessboard {
  border: solid 1px green;
  max-width: 830px;
  max-height: 800px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: red;
}
.white-square {
  background-color: white;
  width: 100px;
  height: 100px;
}
.black-square {
  background-color: green;
  width: 100px;
  height: 100px;
}
