#js-chessboard {
  border: solid 1px green;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.white-square {
  width: 100px;
  height: 100px;
  background-color: white;
}
.black-square {
  width: 100px;
  height: 100px;
  background-color: green;
}
