$background-color: #334155;
$primary-color: #14b8a6;
$delete-color: #ef4444;
$exit-color: #f97316;
$active-color: #0f766e;
$poppins-font: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
html {
  font-size: 10px;
}
body {
  font-family: $poppins-font;
  font-size: 1.6rem;
}
input,
button {
  border: none;
  font-family: $poppins-font;
  font-size: 1.6rem;
}
button {
  cursor: pointer;
  color: white;
  font-weight: 700;
  padding: 10px 18px;
  border-radius: 4px;
}

.container {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 50%;
  &-heading {
    font-size: 1.6rem;
    color: white;
  }
  &-input-group {
    display: flex;
    column-gap: 14px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: $primary-color;
    }
    .input-todo {
      background-color: transparent;
      padding: 10px;
      color: white;
    }
    .btn-add {
      background-color: $primary-color;
      &:hover {
        background-color: $active-color;
      }
    }
  }
  &-list {
    width: 100%;
    margin-top: 20px;
  }
  &-item {
    background-color: white;
    padding: 20px;
    .todo {
      padding: 10px;
      border: 1px solid #ccc;
    }
    .btn-group {
      margin-top: 20px;
      display: flex;
      column-gap: 10px;
      .edit {
        background-color: $primary-color;
        &:hover {
          background-color: $active-color;
        }
      }
      .delete {
        background-color: $delete-color;
      }
    }
  }
}
